*{
    margin: 0;
    padding: 0;
}
.logo{
    padding: 15px;
}
.logo img{
    width: 50px;
}
nav{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    size: 50px;
    height: 50px;
    font-size: 25px;
}
.content{
    font-family: 'Potta One', cursive;
}
.container{
    /* background-color: violet; */
    margin: auto;
    width: 60vw;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.45;
    font-weight: bold;
}
.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 14px !important;
}